.cursive object,
.cursive svg,
.cursive img,
.cursive #buttoncursive {
  filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="waves" x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"><feTurbulence type="turbulence" baseFrequency="0.03 0.03" numOctaves="3" seed="1" stitchTiles="noStitch" result="turbulence"/><feDisplacementMap in="SourceGraphic" in2="turbulence" scale="6" xChannelSelector="G" yChannelSelector="A" result="displacementMap"/><feGaussianBlur stdDeviation=".15"/></filter></svg>#waves');
}

:root {
  --max-mobile: 45rem;
  --o: #000;
  --oa: #000a;
  --d: #777;
  --e: #eee;
  --f: #fff;
  --fd: #fffd;
  --err: #d22;
  --tp: #fff7;
  --font: system-ui, Arial, Helvetica, sans-serif;
  height: 100%;
}

@media(prefers-color-scheme: dark) {

  :root,
  iframe,
  object.darkable {
    filter: hue-rotate(180deg) invert();
  }
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--f);
  margin: 0;
  height: 100%;
  font-family: var(--font);
}

#left {
  background-color: var(--tp);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 24rem;
  max-width: 90vw;
  min-width: 3rem;
  position: relative;
  z-index: 1;
  height: auto;
}

.tpbg {
  background-image: repeating-linear-gradient(45deg, var(--f) 25%, transparent 25%, transparent 75%, var(--f) 75%, var(--f)), repeating-linear-gradient(45deg, var(--f) 25%, var(--e) 25%, var(--e) 75%, var(--f) 75%, var(--f));
  background-position: 0 0, 2rem 2rem;
  background-size: 4rem 4rem;
}

.buttons {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(3.4rem, 1fr));
  gap: .5rem;
  user-select: none;
  padding: .5rem;
}

.buttons#export {
  padding-top: 0;
}

button {
  flex: 1;
  color: var(--o);
  border-radius: .45rem;
  border: none;
  background-color: var(--e);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

button.dropdown {
  position: relative;
}

button.dropdown:after {
  content: "V";
  position: absolute;
  bottom: 0;
  transform: scaleX(12);
  font-size: .3rem;
}

button.dropdown[data-checked]:after {
  transform: rotate(180deg) scaleX(12);
  bottom: .1rem;
}

button:not(:empty):not([disabled]) {
  cursor: pointer;
}

button>svg,
button>object {
  pointer-events: none;
}

button,
button>svg,
button>object {
  height: 2.5rem;
}

button:not(:empty):hover {
  filter: brightness(80%) contrast(150%);
}

.shift-pressed button.altclick>.a,
button>.b {
  opacity: .2;
}

.checked1 {
  display: block;
  position: absolute;
  opacity: 0;
}

.checked0 {
  display: block;
  position: absolute;
  opacity: 1;
}

[data-checked] .checked1 {
  opacity: 1;
}

[data-checked] .checked0 {
  opacity: 0;
}

.shift-pressed button.altclick>.b,
button>.a {
  display: block;
  opacity: 1;
  position: absolute;
}

[data-checked] {
  color: var(--d);
}

hr {
  border: none;
  border-top: .2rem solid var(--d);
  max-width: 9rem;
  margin: .2rem .5rem 0;
}

#buttonlog {
  grid-column: 1 / -1;
  transition: height .1s ease;
  overflow: auto;
  user-select: text;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#buttonlog:focus {
  max-height: 12rem;
  min-height: 2.5rem;
  height: fit-content;
}

#textarea {
  width: 100%;
  height: 100%;
  min-height: 4rem;
  max-width: 100%;
  padding: 0 .7rem;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1rem;
  white-space: pre-wrap;
  overflow: auto;
  border: none;
  word-break: break-all;
  line-height: 1;
}

#textarea>p {
  text-indent: -2.2ch;
  padding-left: 2.2ch;
  margin: .2rem 0;
  letter-spacing: .1ch;
}

@-moz-document url-prefix() {
  #textarea>p:first-letter {
    font-weight: 900;
    font-size: 1.2rem;
  }
}

#divider {
  width: 0;
  height: 100%;
  max-width: 0;
  margin: auto 0;
  padding: .25rem;
  touch-action: none;
  user-select: none;
  z-index: 9;
  background-color: var(--tp);
}

#divider:hover {
  cursor: ew-resize;
  background-color: var(--e);
}

body.mobile-view>#divider {
  width: 20%;
  max-width: initial;
  max-height: 0;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--e);
  border: .3rem solid var(--f);
}

body.mobile-view>#divider:hover {
  cursor: ns-resize;
}

#right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  z-index: 0;
  min-width: 0;
  min-height: 0;
}

#readme {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: auto;
  width: 100%;
}

#readme>* {
  flex-grow: 1;
}

#bigsvg {
  height: 100vh;
}

/* .full {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
} */

#bigsvg>svg:focus {
  outline: none;
}

#smallsvgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(8rem, 15%), 1fr));
  height: auto;
}

#smallsvgs>* {
  display: flex;
  overflow: hidden;
  aspect-ratio: 1;
  cursor: pointer;
}

#right svg {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

div[contenteditable=true]:empty:not(:focus):before {
  display: block;
  font-family: var(--font);
  content: attr(data-placeholder);
  color: var(--oa);
  word-break: normal;
}

.long-tap-progress {
  background: linear-gradient(180deg, var(--oa) 50%, var(--e) 50%);
  background-size: 400% 400%;
  animation: slide .5s linear forwards;
}

@keyframes slide {
  to {
    background-position: 0 100%;
  }
}

.hidden {
  display: none !important;
}

#buttontxtclose {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  z-index: 4;
}

body.keyboard-active #buttontxtclose {
  display: block;
}

pre,
code {
  background-color: var(--e);
  border-radius: .3125rem;
  font-size: 1rem;
  padding: 0 .3rem;
  margin-block: initial;
}

@media only screen and (max-width: 45rem) {
  body {
    flex-direction: column;
  }

  #left {
    max-width: 100%;
    width: 100%;
  }

  .buttons {
    padding: .2rem;
    grid-template-columns: repeat(auto-fill, minmax(3.7rem, 1fr));
    gap: .2rem;
  }

  #textarea {
    padding: .2rem;
    min-height: 30%;
    min-width: 9rem;
  }

  body.keyboard-active #textarea {
    max-height: initial;
    width: fit-content;
    height: fit-content;
  }

  #right {
    height: auto;
    min-height: 30%;
  }

  #smallsvgs {
    grid-template-columns: repeat(auto-fit, minmax(max(4rem, 15%), 1fr));
  }

  body.keyboard-active .buttons,
  body.keyboard-active #buttonlog {
    display: none;
  }

  body.keyboard-active #left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  body.keyboard-active #textarea {
    background: var(--fd);
    position: relative;
    z-index: 3;
  }

  body.keyboard-active #right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

@media only screen and (min-width: 45.001rem) {
  #buttontxtclose {
    display: none !important;
  }
}
